<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/add-style.css">
    <link rel="stylesheet" href="/css/detail-style.css">
    <title>Electronic wallet</title>
</head>
<body>
<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  {{#each result}}
        <div class="formbold-form-wrapper">
            <div class="file-image myImage-edit">
                    <img id = "uploadImage-view" src="/products/{{this.name}}/images/{{this.image.name}}" alt=""></img>
            </div>
            <form method="POST" action="./{{this.id}}" id="" enctype="multipart/form-data">
                <div class="formbold-input-wrapp formbold-mb-3">
                    <label for="name" class="formbold-form-label"> Name </label>
                    <div>
                    <input
                        type="text"
                        name="name"
                        value="{{{this.name}}}"
                        id="name"
                        placeholder="Product name"
                        class="formbold-form-input"
                    />
                    </div>
                </div>
                <div class="formbold-mb-3">
                    <label for="number" class="formbold-form-label"> Number </label>
                    <input
                    type="number"
                    name="number"
                    id="number"
                    value="{{{this.number}}}"
                    placeholder="0"
                    class="formbold-form-input number"
                    />
                </div>

                <div class="formbold-mb-3">
                    <label for="price" class="formbold-form-label"> Price </label>
                    <input
                    type="number"
                    name="price"
                    id="price"
                    value="{{{this.price}}}"
                    placeholder="0"
                    class="formbold-form-input"
                    />
                </div>
                
                <div class="formbold-mb-3">
                    <label for="dom" class="formbold-form-label"> Date of manufacture </label>
                    <input type="datetime-local" name="dom" id="dom" class="formbold-form-input" value="{{{this.date}}}"/>
                </div>
                <div class="formbold-mb-3">
                    <label class="formbold-form-label" for="type">Categories</label>
                    <select class="formbold-form-input type" name="type" id="type">
                        {{#compare this.type 'eq' "Laptop"}}
                            <option selected value="{{{this.type}}}">{{{this.type}}}</option>
                            <option value="Smartphone">Smartphone</option>
                            <option value="Camera">Camera</option>
                        {{else}}
                            {{#compare this.type 'eq' "Smartphone"}}
                                <option value="{{{this.type}}}">{{{this.type}}}</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Camera">Camera</option>
                            {{else}}
                                <option value="{{{this.type}}}">{{{this.type}}}</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Smartphone">Smartphone</option>
                            {{/compare}}
                        {{/compare}}
                    </select>
                </div>
                <div class="formbold-input">
                    <div>
                        <label for="desc" class="formbold-form-label"> Details </label>
                        <textarea rows="4" cols="10" name="detail" id = "detail" class="formbold-form-input">{{{this.detail}}}</textarea>
                    </div>
                </div>
                <div class="formbold-input">
                    <div>
                        <label for="detail" class="formbold-form-label"> Description </label>
                        <textarea rows="4" cols="10" name="desc" id = "desc" class="formbold-form-input">{{{this.desc}}}</textarea>
                    </div>
                </div>
                <div class="formbold-mb-3">
                    <label for="uploadImage-edit" id="uploadImage-edit-label"class="formbold-form-label">
                    Upload image
                    </label>
                    <input type="file" name="myImageEdit" id="uploadImage-edit" class="formbold-form-input formbold-form-file"/>
                </div>
                {{#if ../error}}
                <div style="display:block" id="error-file" class="layout-content-group error-form">{{{../error}}}</div>
                {{/if}}
                <div class="formbold-mb-3">
                    <button id="submit-button" type="submit" class="formbold-btn">Submit</button>
                </div>
            </form>
        </div>
    {{/each}}
</div>
</body>